<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>信贷工厂后管平台1</title>
    <link rel="stylesheet" type="text/css" href="asset/antd/antd.min.css" />
    <link rel="stylesheet" href="icon/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="icon/roic/iconfont.css">
    <link rel="stylesheet" href="icon/crops/iconfont.css">
    <link rel="stylesheet" href="asset/imageview/viewer.min.css">
    <link href="favicon-rober.ico" mce_href="favicon-rober.ico" rel="bookmark" type="image/x-icon" />
    <link href="favicon-rober.ico" mce_href="favicon-rober.ico" rel="icon" type="image/x-icon" />
    <link href="favicon-rober.ico" mce_href="favicon-rober.ico" rel="shortcut icon" type="image/x-icon" />
    <script defer type="text/javascript" src="asset/jquery.min.js" ></script>
</head>
<body style="overflow: hidden">
<link rel="stylesheet/less" type="text/css" href="color.less" />
<script>
  window.less = {
    async: false,
    env: 'production'
  };
</script>
<script type="text/javascript" src="asset/less/less.min.js"></script>
<!--<style>-->
    <!--a {-->
        <!--color: blue;-->
    <!--}-->
<!--</style>-->
<div id="app" style="height: 100%;"></div>
</body>
<script defer type="text/javascript" src="asset/imageview/viewer.min.js" ></script>
<!--<script defer type="text/javascript" src="%baseUrl%/office/pageoffice/static/pageoffice.js" id="po_js_main" ></script>-->
</html>
