.fnastat-sheet {
    padding: 5px;
}

.fnastat-sheet-table {
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.fnastat-sheet-table td, .fnastat-sheet-table th {
    border: 1px solid #ddd;
}

.fnastat-sheet-table > thead > tr > th {
    padding: 5px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    background-color: #f7c665;
    font-weight: bold;
    border:1px solid #f5d492;
    border-bottom-width: 2px;
    border-bottom-color: #096dd9;
}

.fnastat-sheet-table > tbody > tr > td {
    text-align: left;
    vertical-align: middle;
    padding: 0 3px;
    height: 100%;
}
.reading-row{
    background-color: #fcf8e3;
    height: 27px;
    line-height: 28px;
}
.fnastat-btn-bar button{
    margin:1px 3px;
}
.fnastat-sheet-table > tbody > tr > td > span > input {
    height: 25px;
    width: 98%;
    margin: 1px;
    border-radius: 0;
    /*text-align: right;*/
}
.fnastat-sheet-table > tbody > tr > td > textarea {
    width: 95%;
    margin: 1px;
    border-radius: 0;
    text-align: left;
}
.fnastat-sheet-table > tbody > tr > td >
div {
    text-align: right;
}
.fnastat-sheet-table > tbody > tr > td > pre {
    margin: auto;
    text-align: left;
    margin-left: 10px;
}
.null-holder{
    height:25px;
    display: inline-block;
}
